<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BiciGO</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body class="body_principal">
  
  <!-- Sidebar -->
  <nav class="sidebar">
    <h2 class="logo">BiciGo</h2>
    <ul>
      <li><a href="principal.html" class="active">Inicio</a></li>
      <li><a href="bicicletas.html">Bicicletas</a></li>
      <li><a href="eventos.html">Eventos</a></li>
      <li><a href="configuracion.html">Panel de control</a></li>
    </ul>
  </nav>

  <!-- Contenido Principal -->
  <main class="main_principal">
    <div class="contenido">
      <h1>Pedalea, Descubre y Disfruta</h1>
      <h3>La forma más fácil y sostenible de moverte por la ciudad</h3>
      <p>
        BiciGo es tu plataforma para alquilar bicicletas de manera fácil y segura,
        explorar nuevas rutas y participar en ciclopaseos y eventos de movilidad urbana.  
        Controla la disponibilidad de bicicletas, calcula tarifas con descuentos según tu estrato socioeconómico
        y disfruta de una experiencia activa, saludable y sostenible.
      </p>
      <a href="bicicletas.html">

          <button class="btn">Explorar Bicicletas</button>
      </a>
    </div>
  </main>

</body>
</html>
